@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Tilt+Prism&display=swap");

input.search {
  width: 260px;
  border: 1px solid #f1faee;
  border-radius: 10px;
  display: block;
  padding: 9px 4px 9px 40px;
  background: url("./icons8-search.gif") no-repeat 5px;
  background-size: 20px;
  background-color: #ffffff;
    width: 75%;
}
.search:focus{
    outline: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  box-shadow: #202020 0px 5px 15px;
  padding: 0.1em 3em 0.1em 3em;
  border-radius: 5px;
}
.heading {
  font-family: "Tilt Prism", cursive;
  font-size: 30px;
  /* font-weight: lighter; */
  color: #ffffff;
}

.card {
  border: 3px solid #202020;
  background-color: #202020;
  box-shadow:#202020 0px 5px 15px;
  margin-top: 0.5em;
  border-radius: 5px;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
}
.icon{
    width: 10%;
    margin-top: 7em;
    cursor: pointer;
    transition: transform 0.5s;
}
.icon:hover{
    transform: scale(2,2);
    
    /* transform: scaleY(3); */
}
.condition{
    font-weight: lighter;
    margin-top: 0;
    color: #ffffff;
    font-size: 13px;
}
.temp{
    font-weight: lighter;
    color: #ffffff;
}
.cloud{
    font-weight: lighter;
    margin-bottom: 7em;
    color: #ffffff;
}

@media (min-width: 320px) and (max-width: 480px){
    .navbar{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1.5em;
    }
   
}
